name: Bump version
on:
    push:
        branches:
            - main
jobs:
    process:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
              with:
                fetch-depth: '0'

            - name: Bump version and push tag
              uses: anothrNick/github-tag-action@v1
              env: 
                GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
                WITH_V: true 